<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sillychat about</title>
    <link rel="stylesheet" href="./css/about.css">
</head>
<body>
    <div class="about">
        <h1>sillychat</h1>
        <em>Note : sillychat is a non profit service.</em>
        <em>Note : Using it for any illegal/wrong work is a punishable offence.</em>
        <p class="question">Are you concerned about your chats that big social media giants are storing your chat and sharing with third parties?</p>
        <p>Now don't worry you got the right place to chat with your close ones.</p>
        <p class="question">Still worried that how sillychat is different from other platform?</p>
        <div class="discription">
            <h3>Here is how sillychat is different from others platforms :</h3>
            <ul class="list">
                <li>Sillychat does not store anything in its server.</li>
                <li>You leave no trace to our server.</li>
                <li>Here you are completely anonymous.</li>
                <li>Just create room, invite and chat</li>
            </ul>
        </div>
    </div>
    <footer>
        <%- include ('footer') -%>
    </footer>
</body>
</html>