<style>
    footer{
        margin-top: auto;
    }
    .footer {
        padding: 10px 0;
        color: #6d6e71;
        background: #0d0d0d;
        text-align: center;
        font-weight: bold;
        z-index: 10;
        display: flex;
    }
    .links{
        display: flex;
        margin: auto;
    }
    .links a{
        text-decoration: none;
        color: #6d6e71;
        cursor: pointer;
        padding:0 1rem;
    }
    .links a:hover{
        color: #fff;
    }
    .links a:active{
        color: #ffffff;
    }
    @media only screen and (max-width:600px) {
        .links{
            flex-direction: column;
        }
        .links a{
            padding: 5px 1rem;
        }
    }

</style>
<div class="footer">
    <div class="links">
        <a href="/" id="home-page">Home</a>
        <a href="/about" id="about-page">About</a>
        <a href="/feedback" id="feedback-page">feedback</a>
        <a href="/contact" id="contact-page">contact</a>
        <a href="/" id="copyright">&#169 sillychat.in</a>
    </div>
</div>