<style>
    .footer {
        margin-top: auto;
        padding: 1% 0;
        color: #6d6e71;
        background: #0d0d0d;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        z-index: 10;
        display: flex;
    }
    .links{
        display: flex;
        margin: auto;
    }
    .links li{
        list-style: none;
        padding: 0.5rem 0;
    }
    .links a{
        text-decoration: none;
        color: #6d6e71;
        cursor: pointer;
        padding:0 1rem;
    }
    .links li:hover a:hover{
        color: #fff;
    }
    @media only screen and (max-width:500px) {
        .links{
            flex-direction: column;
        }
    }

</style>
<div class="footer">
    <ul class="links">
        <li><a href="/about" id="about-page">About</a></li>
        <li><a href="/feedback" id="feedback-page">feedback</a></li>
        <li><a href="/contact" id="contact-page">contact</a></li>
        <li><a href="/" id="copyright">&#169 sillychat.in</a></li>
        <li><a href="/credit" id="credits-page">credits</a></li>
    </ul>
</div>