<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Yusei+Magic&display=swap" rel="stylesheet">
    <title>Chat Room</title>
</head>

<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/">Create Room</a>
            </li>
            <li>
                <a href="/login">Join Room</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Feedback</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
    <% if(roomExistence.length > 0) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= roomExistence%>
        </div>
    <% }%>

    <% if(unauthorizedToken.length > 0) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= unauthorizedToken%>
        </div>
    <% }%>

    <% if(findingError.length > 0) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= findingError%>
        </div>
    <% }%>
    
    <% if(roomDoesNotExist.length > 0) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= roomDoesNotExist%>
        </div>
    <% }%>
    <div class="container">
        <form action="/room" method="post" id="room-box">
            <h2>Create Private Chat Room</h2>
            <input type="text" name="room" id="room-name" placeholder="Name" required>
            <input type="password" name="roomPassword" id="room-pass" placeholder="Password" required>
            <button type='submit' id='create-room-btn'>Create Room</button>
        </form>
    </div>
    <!-- <script>
        const password = document.getElementById('room-pass');
        const roomCreatorButton = document.getElementById('create-room-btn');

        roomCreatorButton.addEventListener('click',(e)=>{
            if (password.value == "Password") {
                alert("Password can not be password")
                e.preventDefault();
            }
            else if (password.value == "password"){
                alert("Password can not be password")
                e.preventDefault();
            }
            if (password.value.length < 8) {
                alert("Password must be longer than 8 digit and use symbols and capital letter");
                e.preventDefault();
            }
        })
        
    </script> -->
</body>

</html>