<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Yusei+Magic&display=swap" rel="stylesheet">
    <title>Room Login</title>
</head>

<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/">Create Room</a>
            </li>
            <li>
                <a href="/login">Join Room</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Feedback</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
    <% if(authentication.length > 0) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= authentication%>
        </div>
    <% }%>
    
    <% if(incorrect.length > 0) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= incorrect%>
        </div>
    <% }%>
    <div class="container">
        <form action="/findroom" method="post" id="room-box">
            <h2>Join Private Chat Room</h2>
            <input type="text" name="room"
            id="room-name" placeholder="Name" required>
            <input type="password" name="roomPassword" id="room-pass" placeholder="Password" required>
            <button type='submit' id='create-room-btn'>Join Room</button>
        </form>
    </div>

</body>

</html>