<style>
    #logo {
        width: 40px;
        height: 40px;
    }

    #navbar {
        background-color: #121212;
        display: flex;
        align-items: center;
        padding: 13px 10px;
        color: #ffffff;
    }

    #navbar a {
        text-decoration: none;
        color: white;
        padding: 0 10px;
    }
</style>
<div id="navbar">
    <img id="logo" src="./png/sillychat.png" alt="logo">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</div>