<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sillychat.in is the best place for conversation,chatting and discussion if you are worried about your privacy because it does not take anything from you and it is very simple to use, just make password protected room and invite your known persons and start your discussion and for more info visit about page">
    <title>sillychat.in || Do your conversation, discussion,chatting privately and for more info visit about page
    </title>
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/room_resposive.css">
    <link rel="stylesheet" href="/css/emojionearea.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <script>
        const roomName = "<%= roomName%>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/js/client.js"></script>
    <script defer src="/js/responsive.js"></script>
</head>

<body>

    <!-- navbar for smaller devices  -->
    <nav class="menubar">
        <div id="logo-compartment">
            <img src="/png/sillychat.png" alt="sillychat" id="logo">
            <p id="logo-discription">sillychat <sub id="logo-sub">We are secure</sub></p>
        </div>
        <div class="menu-btn">
            <div class="menu-btn-line"></div>
        </div>
    </nav>
    
    <!-- Container which contains everything of room page -->
    <div class="container">

        <!-- user-container contains user info -->
        <aside class="user-container">

            <!-- room name container  -->
            <div id="roomname">
                <%= roomName%>
            </div>


            <!-- user name container -->
            <div id="users-name"></div>

            <!-- buttons for users to interact with common feature  -->
            <div class="button-container">
                <!-- invite button  -->
                <div id="invite" role="button" onclick="openForm(1)" class="userButtons buttonHover">Invite</div>

                <!-- leave button  -->
                <form action="/leave" method="post" id="leave" class="userButtons buttonHover">
                    <button type="submit">Leave</button>
                </form>

                <!-- setting button  -->
                <div class="userButtons buttonHover" id="settingButton">
                    <button id="setting" onclick="open_setting()">Setting</button>
                </div>

                <!-- Dark mode toggle button -->
                <div class="userButtons buttonHover" id="darkButton">
                    <label class="switch">
                        <input type="checkbox" id="toggleDark" onclick="darkMode()">
                        <span class="slider round">
                            <i class="fas fa-sun"></i>
                            <i class="fas fa-moon"></i>
                        </span>
                    </label>
                </div>
            </div>
        </aside>
        <!-- message container -->
        <div class="message-container"></div>

        <!-- message input bar  -->
        <form method="post" id="text-mess">
            <input type="text" name="message" id="message-input" class="input" placeholder="Type a message..." required>
            <div class="image-upload">
                <label id="file-image-logo" for="file-input" >
                    <i class="fas fa-camera" id="send-image-button"></i>
                </label>
                <input id="file-input" name="file" type="file" accept="image/x-png,image/gif,image/jpeg,video/mp4" onchange="sendFile(files,event)"/>
            </div>
            <button type="submit" id="sendButton">Send</button>
        </form>
    </div>
    
    <!-- invite -->
    <div id="overlay">
        <div id="invitation-popup">
            <div id="close"><b>X</b></div>
            <div id="icons">
                <img src="../svg/whatsapp.svg" alt="whatsapp" id="whatsapp" onclick="openwhatsapp()">
                <img src="../svg/telegram.svg" alt="telegram" id="telegram" onclick="opentelegram()">
                <img src="../svg/gmail.svg" alt="mail" id="gmail" onclick="openmail()">
                <img src="../svg/facebook.svg" alt="facebook" id="facebook" onclick="openfacebook()">
                <img src="../svg/twitter.svg" alt="twitter" id="twitter" onclick="opentwitter()">
            </div>
        </div>
    </div>

    <!-- setting-overlay  -->
    <div id="setting-overlay">
        <div id="setting-menu">
            <div class="setting-options">
                <div class="close-button-setting-menu">
                    <div style="display: inline-block;" id="close-button" onclick="open_setting()" ><b>X</b></div>
                </div>
                <div id="cherry">
                    <span>Red Cherry Theme</span>
                    <div class="switch-button">
                        <label class="toggle-switch">
                            <input type="checkbox" id="redcherry" onclick="redcherry()">
                            <span class="slider-button round-button"></span>
                        </label>
                    </div>
                </div>
                <hr>
                <div id="sound">
                    <span>Mute Sound</span>
                    <div class="switch-button">
                        <label class="toggle-switch">
                            <input type="checkbox" id="mute-sound">
                            <span class="slider-button round-button"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="notSupported">
        <h1>Not supported in this resolution</h1>
    </div>
    <!-- jquery cdn load  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/emojionearea.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if ($(window).width() > 418) {
                $("#message-input").emojioneArea({
                    pickerPosition: "top",
                    useInternalCDN: true,
                    inline: true,
                    autocomplete: false,
                    attributes: {
                        spellcheck : true,
                        autocapitalize : "on",
                        autocomplete   : "off",
                    },
                    events: {
                        keyup: function (editor, event) {
                            if (event.keyCode == '13') {
                                $("#text-mess").submit(transmit(event));
                            }
                        },
                        // change: function (editor, event) {
                        //     console.log('event:change');
                        // }
                    }
                });
            }
        });
    </script>
</body>

</html>