<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sillychat.in is the best place for conversation,chatting and discussion if you are worried about your privacy because it does not take anything from you and it is very simple to use, just make password protected room and invite your known persons and start your discussion and for more info visit about page">
    <title>sillychat.in || Do your conversation, discussion,chatting privately and for more info visit about page
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/resposive.css">
    <link rel="stylesheet" href="/css/emojionearea.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <script>
        const roomName = "<%= roomName%>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/js/client.js"></script>
    <script defer src="/js/responsive.js"></script>
</head>

<body>

    <!-- navbar for smaller devices  -->
    <nav class="menubar">
        <div id="logo-compartment">
            <img src="/png/sillychat.png" alt="sillychat" id="logo">
            <p id="logo-discription">sillychat <sub id="logo-sub">We are secure</sub></p>
        </div>
        <div class="menu-btn">
            <div class="menu-btn-line"></div>
        </div>
    </nav>
    
    <!-- Container which contains everything of room page -->
    <div class="container">

        <!-- user-container contains user info -->
        <aside class="user-container">

            <!-- room name container  -->
            <div id="roomname">
                <%= roomName%>
            </div>


            <!-- user name container -->
            <div id="users-name"></div>

            <!-- buttons for users to interact with common feature  -->
            <div class="button-container">
                <!-- invite button  -->
                <div id="invite" role="button" onclick="openForm(1)" class="userButtons buttonHover">Invite</div>

                <!-- leave button  -->
                <form action="/leave" method="post" id="leave" class="userButtons buttonHover">
                    <button type="submit">Leave</button>
                </form>

                <!-- setting button  -->
                <div class="userButtons buttonHover" id="settingButton">
                    <button id="setting" onclick="open_setting()">Setting</button>
                </div>

                <!-- Dark mode toggle button -->
                <div class="userButtons buttonHover" id="darkButton">
                    <label class="switch">
                        <input type="checkbox" id="toggleDark" onclick="darkMode()">
                        <span class="slider round">
                            <i class="fas fa-sun"></i>
                            <i class="fas fa-moon"></i>
                        </span>
                    </label>
                </div>
            </div>
        </aside>
        <!-- message container -->
        <div class="message-container"></div>

        <!-- message input bar  -->
        <form method="post" id="text-mess">
            <input type="text" name="message" id="message-input" class="input" placeholder="Type a message..." style="display: none;" required>
            <div class="image-upload">
                <label id="file-image-logo" for="file-input" style="display: none;">
                    <img src="https://img.icons8.com/plasticine/100/000000/image.png" id="send-image-button" onclick="imageSelection()"/>
                </label>
                <input id="file-input" name="file-input" type="file" accept="image/x-png,image/gif,image/jpeg"/>
            </div>
            <button style="display: none;" type="submit" id="sendButton">Send</button>
        </form>
    </div>
    
    <!-- invite -->
    <div id="overlay">
        <div id="invitation-popup">
            <div id="close"><b>X</b></div>
            <div id="icons">
                <span id="whatsapp" onclick="openwhatsapp()"><svg enable-background="new 0 0 24 24" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg"><path d="m20.52 3.449c-2.28-2.204-5.28-3.449-8.475-3.449-9.17 0-14.928 9.935-10.349 17.838l-1.696 6.162 6.335-1.652c2.76 1.491 5.021 1.359 5.716 1.447 10.633 0 15.926-12.864 8.454-20.307z" fill="#eceff1"/><path d="m12.067 21.751-.006-.001h-.016c-3.182 0-5.215-1.507-5.415-1.594l-3.75.975 1.005-3.645-.239-.375c-.99-1.576-1.516-3.391-1.516-5.26 0-8.793 10.745-13.19 16.963-6.975 6.203 6.15 1.848 16.875-7.026 16.875z" fill="#4caf50"/><path d="m17.507 14.307-.009.075c-.301-.15-1.767-.867-2.04-.966-.613-.227-.44-.036-1.617 1.312-.175.195-.349.21-.646.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.293-.506.32-.578.878-1.634.1-.21.049-.375-.025-.524-.075-.15-.672-1.62-.922-2.206-.24-.584-.487-.51-.672-.51-.576-.05-.997-.042-1.368.344-1.614 1.774-1.207 3.604.174 5.55 2.714 3.552 4.16 4.206 6.804 5.114.714.227 1.365.195 1.88.121.574-.091 1.767-.721 2.016-1.426.255-.705.255-1.29.18-1.425-.074-.135-.27-.21-.57-.345z" fill="#fafafa"/></svg></span>
                <span id="telegram" onclick="opentelegram()"><svg enable-background="new 0 0 24 24" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" fill="#039be5" r="12"/><path d="m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z" fill="#fff"/></svg></span>
                <span id="gmail" onclick="openmail()"><svg id="Capa_1" enable-background="new 0 0 510 510" height="40" viewBox="0 0 510 510" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="218.973" x2="380.27" y1="158.336" y2="504.608"><stop offset="0" stop-color="#e3e5e4"/><stop offset="1" stop-color="#cbd0e4"/></linearGradient><linearGradient id="lg1"><stop offset="0" stop-color="#ebeff0"/><stop offset="1" stop-color="#e3e5e4"/></linearGradient><linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="207.043" x2="290.353" xlink:href="#lg1" y1="381.647" y2="464.957"/><linearGradient id="lg2"><stop offset="0" stop-color="#cbd0e4" stop-opacity="0"/><stop offset="1" stop-color="#6a7d83"/></linearGradient><linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="255" x2="255" xlink:href="#lg2" y1="395.097" y2="480.645"/><linearGradient id="lg3"><stop offset="0" stop-color="#ff637b"/><stop offset="1" stop-color="#f90217"/></linearGradient><linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="17.333" x2="58.022" xlink:href="#lg3" y1="255" y2="255"/><linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="419.959" x2="357.292" xlink:href="#lg2" y1="254.052" y2="188.052"/><linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="483.333" x2="514.667" xlink:href="#lg3" y1="255" y2="255"/><linearGradient id="lg4"><stop offset="0" stop-color="#f90217" stop-opacity="0"/><stop offset=".2669" stop-color="#e7010f" stop-opacity=".267"/><stop offset=".7232" stop-color="#ce0004" stop-opacity=".723"/><stop offset="1" stop-color="#c50000"/></linearGradient><linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="500.767" x2="458.767" xlink:href="#lg4" y1="169.548" y2="122.048"/><linearGradient id="SVGID_8_" gradientTransform="matrix(-1 0 0 1 971.233 0)" gradientUnits="userSpaceOnUse" x1="962" x2="920" xlink:href="#lg4" y1="169.548" y2="122.048"/><linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="234.406" x2="346.189" xlink:href="#lg1" y1="54.061" y2="189.691"/><linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="261.026" x2="390.36" xlink:href="#lg3" y1="90.574" y2="308.574"/><g><path d="m462.393 459.282h-414.786c-16.351 0-29.607-13.256-29.607-29.608l-18-349.349c0-16.352 13.256-29.607 29.607-29.607h450.785c16.352 0 29.607 13.256 29.607 29.607l-18 349.349c.001 16.352-13.255 29.608-29.606 29.608z" fill="url(#SVGID_1_)"/><path d="m480.393 459.282h-450.786c-16.351 0-29.607-13.256-29.607-29.608 0-8.258 3.41-16.149 9.423-21.808l222.585-209.465c12.918-12.156 33.066-12.156 45.984 0l222.585 209.465c6.014 5.659 9.423 13.55 9.423 21.808 0 16.352-13.256 29.608-29.607 29.608z" fill="url(#SVGID_2_)"/><path d="m4.235 352.963v76.711c0 16.352 13.036 29.607 29.116 29.607h443.298c16.08 0 29.116-13.256 29.116-29.607v-76.711z" fill="url(#SVGID_3_)"/><path d="m0 80.326v349.349c0 16.352 13.256 29.607 29.607 29.607h19.16v-408.564h-19.16c-16.351 0-29.607 13.256-29.607 29.608z" fill="url(#SVGID_4_)"/><path d="m10.423 102.133 381.577 357.149h88.393c16.352 0 29.607-13.256 29.607-29.607v-349.349c0-16.352-13.256-27.607-29.607-27.607h-450.786c-16.351-.001-28.607 11.255-28.607 27.607 0 8.257 3.41 16.148 9.423 21.807z" fill="url(#SVGID_5_)"/><path d="m510 80.326v349.349c0 16.352-13.256 29.607-29.607 29.607h-19.16v-408.564h19.16c16.351 0 29.607 13.256 29.607 29.608z" fill="url(#SVGID_6_)"/><path d="m480.393 52.718h-19.16v180.996h48.767v-151.388c0-16.352-13.256-29.608-29.607-29.608z" fill="url(#SVGID_7_)"/><path d="m29.607 52.718h19.16v180.996h-48.767v-151.388c0-16.352 13.256-29.608 29.607-29.608z" fill="url(#SVGID_8_)"/><path d="m480.393 50.718h-450.786c-16.351 0-29.607 13.256-29.607 29.608 0 8.258 3.41 13.149 9.423 18.808l222.585 209.465c12.918 12.156 33.066 12.156 45.984 0l222.585-209.466c6.013-5.659 9.423-10.55 9.423-18.807 0-16.352-13.256-29.608-29.607-29.608z" fill="url(#SVGID_9_)"/><path d="m479.775 50.718c-1.179 0-2.313.45-3.171 1.257l-198.612 186.906c-12.918 12.156-33.066 12.156-45.984 0l-198.611-186.905c-.858-.808-1.993-1.258-3.171-1.258-15.107 0-28.248 11.079-30.018 26.082-1.121 9.503 2.351 18.873 9.216 25.333l222.585 209.465c12.918 12.156 33.066 12.156 45.984 0l222.585-209.465c6.865-6.461 10.337-15.83 9.216-25.333-1.771-15.003-14.912-26.082-30.019-26.082z" fill="url(#SVGID_10_)"/></g></svg></span>
                <span id="facebook" onclick="openfacebook()"><svg height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg"><path d="m483.738281 0h-455.5c-15.597656.0078125-28.24218725 12.660156-28.238281 28.261719v455.5c.0078125 15.597656 12.660156 28.242187 28.261719 28.238281h455.476562c15.605469.003906 28.257813-12.644531 28.261719-28.25 0-.003906 0-.007812 0-.011719v-455.5c-.007812-15.597656-12.660156-28.24218725-28.261719-28.238281zm0 0" fill="#4267b2"/><path d="m353.5 512v-198h66.75l10-77.5h-76.75v-49.359375c0-22.386719 6.214844-37.640625 38.316406-37.640625h40.683594v-69.128906c-7.078125-.941406-31.363281-3.046875-59.621094-3.046875-59 0-99.378906 36-99.378906 102.140625v57.035156h-66.5v77.5h66.5v198zm0 0" fill="#fff"/></svg></span>
                <span id="twitter" onclick="opentwitter()"><svg height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg"><path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#4a7aff"/><path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#4a7aff"/><path d="m512 256c0-15.625-1.40625-30.917969-4.085938-45.769531l-89.101562-89.105469-135.421875 139.695312-168.296875 1.179688 57.90625 57.910156-26.574219.316406 40.304688 40.304688-17.195313 17.738281-85.859375-13.980469 146.414063 146.414063c8.519531.855469 17.164062 1.296875 25.910156 1.296875 141.386719 0 256-114.613281 256-256zm0 0" fill="#0053bf"/><path d="m192.066406 396.050781c130.0625 0 201.1875-107.753906 201.1875-201.1875 0-3.0625-.0625-6.105469-.203125-9.136719 13.804688-9.984374 25.804688-22.4375 35.273438-36.613281-12.671875 5.628907-26.304688 9.421875-40.609375 11.128907 14.601562-8.75 25.808594-22.601563 31.097656-39.113282-13.667969 8.101563-28.792969 13.988282-44.898438 17.164063-12.90625-13.742188-31.28125-22.339844-51.613281-22.339844-39.054687 0-70.722656 31.667969-70.722656 70.703125 0 5.550781.621094 10.945312 1.832031 16.125-58.761718-2.957031-110.875-31.097656-145.746094-73.878906-6.078124 10.449218-9.574218 22.589844-9.574218 35.539062 0 24.53125 12.484375 46.191406 31.464844 58.859375-11.597657-.355469-22.496094-3.546875-32.023438-8.847656-.015625.296875-.015625.59375-.015625.902344 0 34.25 24.375 62.839843 56.726563 69.320312-5.9375 1.617188-12.1875 2.488281-18.640626 2.488281-4.554687 0-8.984374-.453124-13.292968-1.273437 9.003906 28.089844 35.105468 48.535156 66.058594 49.113281-24.207032 18.964844-54.691407 30.265625-87.820313 30.265625-5.703125 0-11.332031-.324219-16.867187-.980469 31.292968 20.054688 68.449218 31.761719 108.386718 31.761719" fill="#fff"/><path d="m428.324219 149.113281c-12.671875 5.628907-26.304688 9.417969-40.609375 11.128907 14.601562-8.75 25.808594-22.605469 31.097656-39.113282-13.667969 8.101563-28.792969 13.988282-44.898438 17.160156-12.90625-13.738281-31.28125-22.335937-51.613281-22.335937-30.761719 0-56.925781 19.648437-66.65625 47.066406v223.523438c89.46875-28.289063 137.609375-114.820313 137.609375-191.679688 0-3.0625-.0625-6.105469-.203125-9.136719 13.804688-9.984374 25.804688-22.4375 35.273438-36.613281zm0 0" fill="#dce1eb"/></svg></span>
            </div>
        </div>
    </div>

    <!-- setting-overlay  -->
    <div id="setting-overlay">
        <div id="setting-menu">
            <Div class="setting-options">
                <div class="close-button-setting-menu">
                    <div style="display: inline-block;" id="close-button" onclick="open_setting()" ><b>X</b></div>
                </div>
                <div id="cherry">
                    <span>Red Cherry Theme</span>
                    <div class="switch-button">
                        <label class="toggle-switch">
                            <input type="checkbox" id="redcherry" onclick="redcherry()">
                            <span class="slider-button round-button"></span>
                        </label>
                    </div>
                </div>
                <hr>
                <div id="sound">
                    <span>Mute Sound</span>
                    <div class="switch-button">
                        <label class="toggle-switch">
                            <input type="checkbox" id="mute-sound">
                            <span class="slider-button round-button"></span>
                        </label>
                    </div>
                </div>
            </Div>
        </div>
    </div>

    <div id="notSupported">
        <h1>Not supported in this resolution</h1>
    </div>
    <!-- jquery cdn load  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/js/emojionearea.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#message-input").emojioneArea();
            $('#file-image-logo').css('display','block');
            $('#sendButton').css('display','inline-block');
        });
    </script>
</body>

</html>