<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Create and login page.css">
    <title>Chat Room</title>
</head>

<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/">Create Room</a>
            </li>
            <li>
                <a href="/login">Join Room</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Feedback</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <form action="/room" method="post" id="room-box">
            <h2>Create Private Chat Room</h2>
            <input type="text" name="room" id="room-name" placeholder="Name" required>
            <input type="password" name="roomPassword" id="room-pass" placeholder="Password" required>
            <button type='submit' id='create-room-btn'>Create Room</button>
        </form>
    </div>
    <script>
        const password = document.getElementById('room-pass');
        const roomCreatorButton = document.getElementById('create-room-btn');

        roomCreatorButton.addEventListener('click',(e)=>{
            if (password.value == "Password") {
                alert("Password can not be password")
                e.preventDefault();
            }
            else if (password.value == "password"){
                alert("Password can not be password")
                e.preventDefault();
            }
            if (password.value.length < 8) {
                alert("Password must be longer than 8 digit and use symbols and capital letter");
                e.preventDefault();
            }
        })
        
    </script>
</body>

</html>