<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted</title>
    <style>
        #main{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #success-message{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            width: 20%;
            padding:0 5px;
        }
        img{
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="success-message">
            <img src="./images/success.gif" alt="success">
        </div>
    </div>
    <script>
        setTimeout(() => {
            location.href="/"
        }, 2000);
    </script>
</body>
</html>