@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.feedback-form {
    width: 100%;
    display: grid;
    place-items: center;
}
#user-feedback-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    border-radius: 4px;
}

#user-feedback-form label {
    margin: 5px 0;
}
#send-button {
    background-color: #275efe;
    margin: 5px 0;
    position: relative;
    padding: 16px 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(#275efe, 0.32));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 4px;
}
#send-button:hover{
    background-color: #0080ff;
}

@media only screen and (max-width:280px) {
    nav div{
        flex-direction: column;
    }
    nav div a{
        margin: 5px 0;
    }
    #user-feedback-form{
        width: 90%;
    }
    .feedback-form{
        overflow: auto;
    }
}
