*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
html,body{
    background-color:#A9A9A9;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius:5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    border-radius:5px; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius:5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-container{
    background-color: whitesmoke;
    height: 500px;
    width: 700px;
    border-radius: 0px 15px 15px 0px;
    margin-top: 20px;
    overflow-y: auto;
}
.message{
    width: 30%;
    background-color: white;
    border-radius: 5px;
    margin: 14px 12px;
    padding: 7px 10px;
    box-shadow: 10px 10px 8px #124f80;
}
.meta{
    color: #826464;
    font-size: smaller;
}

.text{
    font-size: small;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
.user-container{
    float: left;
    margin-top: 20px;
    height: 500px;
    width: 200px;
    background-color:#54a7e8;
    border-radius: 15px 0px 0px 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
#text-mess{
    display: flex;
    justify-content:flex-end;
    margin-right: 22%;
    margin-left: 35%;
    margin-bottom: 3%;
}
#message-input{
    width: 500px;
    padding: 8px 10px;
    outline: none;
    border: none;
    margin-top: 10px;
}
#sendButton{
    margin-top: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    border: 2px solid skyblue;
    padding: 5px;
}
#roomname-container{
    padding: 4px 8px;
    font-size: large;
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 18px;
    border-radius: 8px;
    box-shadow: 10px 10px 8px #124f80;
}
#invite,#leave{
    width: 75px;
    margin: 10px 10px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    font-size: larger;
    cursor: pointer;
    position: relative;
    box-shadow: 10px 10px 8px #124f80;
    display: inline-block;
}
#invite:hover,#leave:hover{
    transform: scale(1.2);
}
#leave button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: large;
    width: 100%;
    box-shadow: 10px 10px 8px #124f80;
}
#users-name{
    padding: 1px 15px;
    font-size: large;
    background-color: white;
    box-shadow: 10px 10px 8px #124f80;
    margin: 13px;
    border-radius: 8px;
}
.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#overlay {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}

#popup {
    background-color: indigo;
    position: absolute;
    width: 400px;
    height: 500px;
    background: rgb(255,255,255);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
#popup input{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 50%;
}

#popup input[type="button"]{
    width: 20%;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.emojionearea, .emojionearea.form-control{
    width: 50%;
    margin-top: 10px;
}